@charset "utf-8";
/* CSS Document */

#login-box {
	border: solid 1px #efefef;
	border-radius: 15px;
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	width:400px; height:265px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
	float:none;
	
	/*
	background: -moz-linear-gradient(top, rgba(223,225,231,1) 0%, rgba(255,255,255,1) 16%, rgba(255,255,255,1) 84%, 
				rgba(223,225,231,1) 100%);
	*/
	background-color:#FFF;
/*	background-image:url(images/login-background.jpg);
	background-position:top left;*/
	background-repeat:no-repeat;
	
	-moz-box-shadow: 0px 0px 5px 5px rgba(221, 224, 230, 0.7);
	-webkit-box-shadow: 0px 0px 5px 5px rgba(221, 224, 230, 0.7);
	box-shadow: 0px 0px 5px 5px rgba(221, 224, 230, 0.7);
}

div.login-key-container { 
    width: 230px;
    margin-top:50px;
    float:none; margin: auto; 
    
}
div.login-container {
    width: 100%; float: left; display: block; padding: 15px;
    -moz-box-shadow: 0px 0px 5px 5px rgba(221, 224, 230, 0.7);
    -webkit-box-shadow: 0px 0px 5px 5px rgba(221, 224, 230, 0.7);
    box-shadow: 0px 0px 5px 5px rgba(221, 224, 230, 0.7);
}
div.login-header {
    float: left;
    width: 100%;
    display: block;
    padding-bottom: 10px;
    text-align: center;
}
div.login-header H4 {margin: 0; border-bottom: solid 1px #ccc; padding-bottom: 10px;}

div.login-key { width:100%; float:left; margin-top:20px; display: block; }
div.login-key tr { height: 30px; }

div.login-error { width:100%; float:left; display: block; color:#F00; font-style:italic; }